body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFpDY8wRxtSoIifsSwgKRSgz4dQG34Fk1v3w&s);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter:blur(4px);
}


.chessboard{
    width: 416px;
    height: 416px;
    border: 1px solid black;
}

.chessboard>div{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    float: right;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}
img{
    height: 50px;
    width: 50px;
}