body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://as2.ftcdn.net/v2/jpg/05/79/05/81/1000_F_579058185_7E5hEfKem2f07rg1HU8WEUtKUCBYwV4Q.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}


.chessboard{
    width: 416px;
    height: 416px;
    border: 1px solid black;
}

.chessboard>div{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    float: right;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}